body{

font-family: Arial;
padding:20px;
background:#111;
color:white;

}

h1{

text-align:center;

}

input{

width:100%;
padding:8px;
margin-bottom:10px;

}

select{

width:100%;
padding:10px;
margin-bottom:20px;

}

button{

width:100%;
padding:12px;
font-weight:bold;
margin-bottom:20px;

}

table{

width:100%;
border-collapse:collapse;

}

td,th{

border:1px solid #444;
padding:8px;
text-align:center;

}

.mp{

background:#ffd400;
color:black;

}

.adq{

background:#111;
color:white;

}

#resumo{

background:#222;
padding:15px;
margin-bottom:20px;
border-radius:8px;

}
